# Python
__pycache__/
*.py[cod]
*.sqlite3

# Django
db.sqlite3
*.log
*.pot
*.pyc
media/
staticfiles/
.env

# Virtualenv
venv/
env/
*.egg-info/

# VSCode / PyCharm
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
.env
